body {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  margin: 10px auto;
}

h2 {
  margin-top: 0;
  line-height: 1;
}

label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

label svg {
  margin-left: 6px;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input[type="range"] {
  margin-top: 0;
}

.info-popup {
  position: absolute;
  right: -5px;
  top: 0;
  background: rgba(0,0,0,0.15);
  padding: 10px;
  transform: translateX(100%) translateY(-25%);
  display: none;
}

.info-popup.visible {
  display: block;
}